{% extends "network/layout.html" %}

{% block body %}
<h2 class="p-3 mt-3">All Posts</h2>
<div class="posts card">
    <div class="card-title">
        <h5>New Post</h5>
    </div>
    <form action="{% url 'createPost' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <textarea class="form-control" name="post__content" rows="5"
                placeholder="Content for new post.."></textarea>
        </div>
        <button class="btn btn-dark px-4 py-2 float-right" type="submit">Post</button>
    </form>
</div>
{% endblock %}