{% extends "network/layout.html" %}

{% block body %}

<div class="profile p-1">
    <div class="profile__details text-center">
        <h3>{{ userInfo.username }}</h3>
        <h5>{{ userInfo.email }}</h5>

        {% if user != userInfo and user.is_authenticated %}
        <form action="{% url 'follow' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user" value={{ userInfo.id }}>
            <input type="hidden" name="following" value={{ following }}>
            <button class="btn btn-primary mt-3 mb-4 py-2 px-4" type="submit">
                {% if following %}
                Unfollow
                {% else %}
                Follow
                {% endif %}
            </button>
        </form>
        {% endif %}
        <div class="alert alert-warning">following: {{ userInfo.following.all.count }}</div>
        <div class="alert alert-success">followers: {{ followers }}</div>
    </div>

    <div class="profile__post p-1">
        <h5>Posts:</h5>
        {% for post in posts %}
        <div class="card mb-4">
            <div class="card-body post_body">

                <div class="card-title">
                    <h5><a href="{% url 'profile' post.user.id %}">{{ post.user.username }}</a>
                        {% if post.user == user %}
                        <button class="btn px-4 float-right ml-2 edit_button">Edit</button>
                        {% endif %}
                    </h5>
                </div>
                <div class="card-text">
                    <input type="hidden" name="id" value={{ post.id }}>
                    <div class="content pb-2">
                        {{ post.content }}
                    </div>
                    <small>{{ post.date }}</small>
                    <a href="#"
                        class="like {% if user in post.likedBy.all %}like--inactive{% else %}like--active{% endif %}">
                        {{ post.likedBy.all.count }}
                    </a>
                    <button class="btn px-3 float-right ml-2 mt-2 comment_button">Comments</button>
                </div>

            </div>
        </div>
        {% empty %}
        <div class="alert alert-info p-4">No Posts Yet!</div>
        {% endfor %}
    </div>
</div>

{% endblock %}