{% extends "network/layout.html" %}

{% block body %}

<div class="profile">
    <div class="profile__content">
        <h3>{{ userInfo.username }}</h3>
        <h5>{{ userInfo.email }}</h5>
        {% if user != userInfo %}
        <form action="{% url 'follow' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user" value={{ userInfo.id }}>
            <input type="hidden" name="following" value={{ following }}>
            <button class="btn btn-primary" type="submit">
                {% if following %}
                Unfollow
                {% else %}
                Follow
                {% endif %}
            </button>
        </form>
        {% endif %}
        <div class="alert alert-dark">following: {{ userInfo.following.all.count }}</div>
        <div class="alert alert-info">followers: {{ followers }}</div>
        <h5>Posts:</h5>
        {% for post in posts %}
        <div class="alert">{{ post.content }}</div>
        {% empty %}
        <div class="alert alert-warning">No Posts Yet</div>
        {% endfor %}
    </div>
</div>

{% endblock %}