a:hover {
    text-decoration: none;
}

.container {
    height: calc(100vh - 5.5rem);
    margin-top: 4.5rem;
}

.like,
.like:hover {
    color: red;
}

.like--active::before {
    content: "♡";
}

.like--inactive::before {
    content: "❤";
}

.comment_button {
    border: 1.25px solid maroon;
    color: maroon;
}

.comment_button:hover {
    background: maroon;
    color: white;
}

.edit_button {
    border: 1px solid teal;
    color: teal;
}

.edit_button:hover {
    background: teal;
    color: white;
}

/* .profile__details {
    position: fixed;
    left: 0px;
    padding: 2rem;
    height: 87%;
    width: 30%;
    background: whitesmoke;
    border-radius: 0.5rem;
    z-index: 2;
} */


.comment__value {
    font-size: 14px;
}

/* .profile__post {
    position: fixed;
    top: 5rem;
    right: 0px;
    bottom: 5px;
    width: 65%;
    overflow-y: scroll;
} */

@keyframes grow {
    0% {
        opacity: 0;
        height: 0px;
        line-height: 0px;
    }

    75% {
        opacity: 1;
    }

    100% {
        height: 100%;
        line-height: 100%;
    }
}

.comment {
    animation-name: grow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.profile {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5vw;
    background: blue;
}

@media only screen and (max-width: 770px) {
    .profile {
        grid-template-rows: auto 1fr;
        grid-gap: 5vh;
        background: red;
    }
}

/* body {
    background: red;
} */