a:hover {
    text-decoration: none;
}

.container {
    height: calc(100vh - 5.5rem);
    margin-top: 4.5rem;
}

.profile {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid black;
    height: 100%;
    justify-items: center;
    /* align-items: start; */
    text-align: center;
}

.profile>* {
    border: 2px solid red;

}

.like,
.like:hover {
    color: red;
}

.like--active::before {
    content: "♡";
}

.like--inactive::before {
    content: "❤";
}

/* body {
    background: red;
} */